<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Real Estate Sunrise-Ventures</title>
    <link rel="stylesheet" href="/adminPanelRealEstate.css">
</head>

<body>

    <div class="search-container">
        <form action="/api/v1/admin/realEstate/search" method="GET">
            <input type="text" name="key" placeholder="Search by name, mobile number, state, etc." />
            <input type="submit" value="Search" />
        </form>
        <!-- See All Button -->
        <form action="/api/v1/admin/realEstate" method="GET" >
            <input type="submit" value="See All" />
        </form>
    </div>

    <div class="container">
        <!-- Buyers Table -->
        <% if (buyers.length===0) { %>
            <p>No buyers found</p>
        <% } else { %>
            <div class="table-container">
                <h2>Buyers</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Date/Time Registered</th>
                            <th>Name</th>
                            <th>Mobile No</th>
                            <th>WhatsApp No</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Area</th>
                            <th>Budget</th>
                            <th>Property Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% buyers.forEach((buyer, index)=> { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= buyer.createdAt.toLocaleString() %>
                                </td>
                                <td>
                                    <%= buyer.name %>
                                </td>
                                <td>
                                    <%= buyer.mobileNumber %>
                                </td>
                                <td>
                                    <%= buyer.whatsappNumber %>
                                </td>
                                <td>
                                    <%= buyer.location.state %>
                                </td>
                                <td>
                                    <%= buyer.location.city %>
                                </td>
                                <td>
                                    <%= buyer.area %>
                                </td>
                                <td>
                                    <%= buyer.budget %>
                                </td>
                                <td>
                                    <%= buyer.propertyType %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>

            </div>
        <% } %>
        <% if (sellers.length===0) { %>
            <p>No sellers found</p>
        <% } else { %>
                <!-- Sellers Table -->
                <div class="table-container">
                    <h2>Sellers</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Date/Time Registered</th>
                                <th>Name</th>
                                <th>Mobile No</th>
                                <th>WhatsApp No</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Area</th>
                                <th>Cost</th>
                                <th>Property Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% sellers.forEach((seller, index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= seller.createdAt.toLocaleString() %>
                                    </td>
                                    <td>
                                        <%= seller.name %>
                                    </td>
                                    <td>
                                        <%= seller.mobileNumber %>
                                    </td>
                                    <td>
                                        <%= seller.whatsappNumber %>
                                    </td>
                                    <td>
                                        <%= seller.location.state %>
                                    </td>
                                    <td>
                                        <%= seller.location.city %>
                                    </td>
                                    <td>
                                        <%= seller.area %>
                                    </td>
                                    <td>
                                        <%= seller.cost %>
                                    </td>
                                    <td>
                                        <%= seller.propertyType %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
        <% } %>
    </div>

</body>

</html>